@tailwind base;
@tailwind components;
@tailwind utilities;

ul {list-style-type: initial;
	& ul {list-style-type: circle;}  
} 
ol {list-style-type: decimal;}
ul, ol {@apply ml-8 lg:text-lg lg:mb-6;} 
.ul {list-style-type: none; margin-left: 0;} 

@layer base {
	h1 {@apply text-3xl md:text-4xl lg:text-5xl font-semibold text-center uppercase tracking-wider;} 
	h2 {@apply text-2xl md:text-3xl lg:text-4xl font-semibold capitalize;}
	h3 {@apply text-xl md:text-2xl lg:text-3xl font-semibold capitalize;}  
	h4 {@apply text-lg md:text-xl lg:text-2xl font-semibold capitalize;} 
	article {@apply space-y-4 md:space-y-6 lg:text-lg leading-relaxed;} 
	p {@apply first-letter:text-xl first-letter:font-semibold lg:text-lg leading-relaxed;} 
		
	button, input {@apply focus:outline-none rounded-lg;} 
} 

@layer utilities { 
	.main, .canvas {@apply fixed inset-0 overflow-hidden;} 
	.canvas {@apply -z-1;}
	.modal {@apply fixed inset-0 z-60;} 
	.modal-content {@apply absolute inset-0 center cursor-pointer;} 
	.close-modal {@apply flex justify-end cursor-pointer text-2xl lg:text-4xl text-gray-400;}  
	
	.container-main {@apply lg:mt-24 lg:mb-8 m-4 md:m-6;} 
	.container-card {@apply lg:w-3/4 mx-4 lg:mx-auto lg:mt-24 lg:mb-8 my-4 md:my-6 border-2 md:border-4 rounded-2xl shadow-md border-gray-400/50;}  
	.container-col {@apply lg:flex lg:mt-24 lg:mb-8 lg:mx-0 m-4 md:m-6 space-y-4 md:space-y-6 lg:space-y-0;} 
	.content {@apply p-4 md:p-6 lg:p-8 space-y-4 md:space-y-6 lg:space-y-8;}  
	.card { @apply border-2 md:border-4 rounded-2xl shadow-md border-gray-400/50;}
	.center {@apply min-h-screen flex justify-center items-center;} 
	.middle {@apply flex flex-col justify-center;} 
	.center-row {@apply flex justify-center flex-wrap;}  
	.space {@apply space-y-4 md:space-y-6 lg:space-y-8;}  
	.Tborder { @apply border-2 rounded-lg shadow-md border-gray-400;}

/* Accordion-V */
	.accordion .icon {@apply hidden;}  

/* youtube */ 
    .layout-youtube {
        @apply px-4 md:px-6 space-y-4 md:space-y-6;
    }
    .content-youtube {
        @apply lg:w-1/2 relative;
    }
    .content-youtube .left, .content-youtube .right {
        @apply lg:w-1/4 relative lg:px-6;
    }
    .youtube {
        @apply relative pt-youtube border-4 border-gray-400 rounded-lg;
    }    
    .iframe-youtube {
        @apply w-full h-full absolute inset-0;
    } 
    .button-youtube {
        @apply flex justify-center space-x-2 md:space-x-4;
    }
    .button-youtube .btn {
        @apply py-1 px-2 text-sm md:text-base text-gray-500 font-semibold border-2 border-gray-500 rounded-lg hover:text-white focus:outline-none;
    } 
}  